/.metadata/
opencity.ext.mapacolaborativo/.classpath
opencity.ext.mapacolaborativo/.classpath
opencity.ext.mapacolaborativo/.project
opencity.ext.mapacolaborativo/.settings/org.eclipse.wst.validation.prefs
opencity.ext.mapacolaborativo/.settings/org.eclipse.wst.common.project.facet.core.xml
opencity.ext.mapacolaborativo/.settings/org.eclipse.jdt.core.prefs
opencity.ext.mapacolaborativo/.settings/org.eclipse.core.resources.prefs
